/*Elements*/
/*span {*/
/*    border: solid 1px red;*/
/*}*/


/*CLASSES*/
.loadingimage{
    width: 150px;
    height: 150px;
    background-color: firebrick;
}
.hidden{
    display:none;
}


/*ID's*/
#delete-button{
    width: 150px;
    height: 150px;
    background-color: yellow;
}

